{{include file="common@layout/_meta_x-admin" /}}
<body>
{{:widget('common/Common/nav',[array('管理员管理','用户列表')])}}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">

                {{:widget('common/SearchForm/listSearchFrom',[['beginTime' => $Think.get.beginTime,'endTime' => $Think.get.endTime],
                ['key' => 'realname','value' => $Think.get.realname,'name' => '真实姓名'],['key' => 'admin_role_id','name' => '角色','value' => $Think.get.admin_role_id,'options' => $adminRoleSelect]])}}

                <div class="layui-card-header">
                    {{:widget('common/Button/addButton',['添加用户','addUser',[],$permissionStringArray,null,null])}}
                    <span style="float: right">共有数据：<strong id="totalCount">{{$totalCount}}</strong> 条</span>
                </div>
                <div class="layui-card-body layui-table-body layui-table-main">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th onclick="clickTableTitle('id','{{$Think.get.orderType == \'desc\' ? \'asc\' : \'desc\' }}')" id="id">ID</th>
                            <th onclick="clickTableTitle('username','{{$Think.get.orderType == \'desc\' ? \'asc\' : \'desc\' }}')" id="username">登录名</th>
                            <th onclick="clickTableTitle('realname','{{$Think.get.orderType == \'desc\' ? \'asc\' : \'desc\' }}')" id="realname">真实姓名</th>
                            <th onclick="clickTableTitle('email','{{$Think.get.orderType == \'desc\' ? \'asc\' : \'desc\' }}')" id="email">邮箱</th>
                            <th>角色名</th>
                            <th onclick="clickTableTitle('ip','{{$Think.get.orderType == \'desc\' ? \'asc\' : \'desc\' }}')" id="ip">最后登录ip</th>
                            <th onclick="clickTableTitle('login_at','{{$Think.get.orderType == \'desc\' ? \'asc\' : \'desc\' }}')" id="login_at">最后登录时间</th>
                            <th onclick="clickTableTitle('created_at','{{$Think.get.orderType == \'desc\' ? \'asc\' : \'desc\' }}')" id="created_at">创建时间</th>
                            <th>操作</th>
                        </thead>
                        <tbody>
                        {{volist name="roleList" id="vo"}}
                        <tr>
                            <td>{{$vo.id}}</td>
                            <td>{{$vo.username}}</td>
                            <td>{{$vo.realname}}</td>
                            <td>{{$vo.email}}</td>
                            <td>{{$vo.name}}</td>
                            <td>{{$vo.ip}}</td>
                            <td>{{$vo.login_at}}</td>
                            <td>{{$vo.created_at}}</td>
                            <td class="td-manage">
                                {{:widget('common/Button/edit',['editUser',['id' => $vo['id']],$permissionStringArray,null,null])}}
                                {{:widget('common/Button/delete',['delUser',['id' => $vo['id']],$permissionStringArray])}}
                            </td>
                        </tr>
                        {{/volist}}
                        </tbody>
                    </table>
                    <div id = "page">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script>
    playOrderIcon("{{$Think.get.orderFieldName}}","{{$Think.get.orderType}}");//显示排序图标，注意id为对应列名 onclick="clickTableTitle('id','{{$Think.get.orderType == \'desc\' ? \'asc\' : \'desc\' }}')" id="列名"

    var currentPage = "{{$currentPage}}"
    var limit = "{{$Think.get.pageCount ? $Think.get.pageCount : 10}}"
    layui.use(['laydate','laypage','jquery','form'], function(){
        var form = layui.form;
        var laydate = layui.laydate;
        var laypage = layui.laypage;
        var layer = layui.layer;
        var $ = layui.jquery;
        var totalCount = $("#totalCount").text()
        laypageRender(laypage,$,"",'page','searchForm',limit,totalCount,currentPage);
        laydateRender(laydate,'start');
        laydateRender(laydate,'end');

    });
</script>
