label{
    cursor: pointer;
}
.radio-box{
    padding-left: 0px;
}
.picbox{
    position: relative;
    display: inline-block;
    width: 20%;
}
.picbox > a > img{
    width: 100%;
    padding-bottom: 4px;
}
.picbox > p{
    display: inline-block;
    position: absolute;
    padding: 0 6px;
    border-radius: 20px;
    top: 1px;
    right: 1px;
    z-index: 11;
    background-color: #ececec;
    opacity: 0.7;
    color: #fff;
    cursor: pointer;
    height: 20px;
}
.picbox > p:hover{
    background-color: #7e8795;
}
.webuploader-pick{
    display: inline-block;
    padding: 4px 8px;
    box-sizing: border-box;
}
.btn{
    margin: 0;
    padding: 0;
}
.mybtn{
    padding: 4px 8px;
}
.webuploader-element-invisible{
    display: none;
}
